@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@800&display=swap');
.body{
    margin-top: 200px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #19A7CE;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    text-align: center;
    color: #125699;
    font-family: 'Baloo Thambi 2', cursive;
}

label, option {
    display: block;
    margin-bottom: 5px;
    font-family: 'Baloo Thambi 2', cursive;
}

.errorMessage {
    color: darkred;
    font-family: 'Baloo Thambi 2', cursive;
}

select {
    width: 403px;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #19A7CE;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Baloo Thambi 2', cursive;
    margin-left: -5px;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.error {
    color: darkred;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Baloo Thambi 2', cursive;
}

