.reviewButton {
    background-color: white;
    color: #3250D5;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border-color: #3250D5;
    font-size: 15px;
    margin-top: 20px;
    float: right;
}